@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --CorDeFundo: #fff;
    --CorTextos: #d4af37;
    --CorBotoes: #d4af37;
    --CorBorda: #d4af37;
}

.logotipo {
    width: 15%;
    border-radius: 50%;
    animation: move 3s infinite ease-in-out;
}

@keyframes move {

    0%,
    100% {
        transform: translateY(0);
        box-shadow: 0 0 5px #ffffff9e, 0 0 20px var(--CorBorda);

    }

    50% {
        transform: translateY(-8px);
        box-shadow: 0 0 15px #ffffff9e, 0 0 30px var(--CorBorda);
    }
}


body,
html {
    background-color: var(--CorDeFundo);
    scroll-behavior: smooth;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #000;
    position: sticky;
    top: 0;
    z-index: 2;

}


.secao {
    padding: 100px 20px;
}

nav {
    display: flex;
    gap: 30px;
    font-size: 20px;
    font-weight: 700;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: var(--CorTextos);
    position: relative;


}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 0;
    background: var(--CorTextos);
    transition: width 0.3s ease-in-out;


}

nav a:hover::before {
    width: 100%;
}

.principal {
    text-align: center;
    background: #000;
    width: 100%;
    box-shadow: 3px 2px 10px #000;
    margin: 40px auto;
}

.principal h1 {
    font-size: 60px;
    color: var(--CorTextos);
    font-weight: 800;
    margin-bottom: 20px;
}

.principal p {
    font-size: 24px;
    color: var(--CorTextos);
    font-weight: 300;
    margin-bottom: 50px;
}

.principal a {
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid var(--CorBorda);
    background: #000;
    box-shadow: 0 0 5px #ffffff9e;
    border-radius: 10px;
    padding: 20px 30px;
    color: var(--CorTextos);
    font-weight: 600;
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {

    0%,
    100% {
        box-shadow: 0 0 5px #ffffff9e, 0 0 20px var(--CorBorda);
    }

    50% {
        box-shadow: 0 0 15px #ffffff9e, 0 0 30px var(--CorBorda);
    }
}


.principal a:hover {
    opacity: 0.8;
}

.titulo-secao {
    margin-top: 45px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 45px;
    color: #000;
}

.titulo-secao::after {
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background: var(--CorBorda);
    margin: 0 auto 0 auto;
    border-radius: 5px;
}

.sobre p {
    font-size: 20px;
    text-align: center;
    color: #000;
    font-weight: 300;
    display: flex;
    justify-self: center;
    margin-top: 20px;
}

.card-imgs {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.caixa-img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 2px 10px #000;
}

.galeria-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.galeria-img:hover {
    transform: scale(1.2);
}

.form-agendamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.form-agendamento input,
select,
button {
    outline: none;
    width: 350px;
    height: 50px;
    border: 2px solid #000;
    padding: 5px;
    color: #000;
    font-size: 19px;
    padding: 0 10px;
    border-radius: 10px;
}

.form-agendamento button {
    background-color: var(--CorBorda);
    color: #000;
    border: 2px solid #000;
    font-size: 20px;
    height: 60px;
    font-weight: 400;
}

.form-agendamento button:hover {

    box-shadow: 0 0 15px var(--CorBorda), 0 0 30px #000;
    ;
    cursor: pointer;
}

.form-agendamento input:focus,
select:focus {
    border: 2px solid var(--CorBorda);
    box-shadow: 0 0 5px var(--CorBorda), 0 0 20px #000;
}

.logo-whatsapp {
    width: 60px;
    position: fixed;
    bottom: 20px;
    left: 10px;
}

.abrirMenu {
    display: none;
}

footer {
    text-align: center;
    padding: 40px;
    background-color: #000;
    color: var(--CorTextos);
    font-size: 19px;
}


@media screen and (max-width: 768px) {
    .logotipo {
        width: 30%;
    }

    

}